<%= render  "shared/topmenu" %>

<hr>

<div class='content-section-b'>
    <h1 align="center">Acceso de usuarios</h1>
    <hr>
    <div class='col-md-6 mx-auto'>
        <%= form_for(:session, :html => {role: "form", class: 'col-md-6 mx-auto'}, url: login_path) do |f| %>
            <div class="form-group">
                <label for="">
                    Email
                </label>
                <%= f.email_field :email, class: "form-control", placeholder: "Ingresar email" %>
            </div>

            <div class="form-group">
                <label for="">
                    Contraseña
                </label>
                <%= f.password_field :password, class: "form-control", placeholder: "Ingresar contraseña" %>
            </div>

            <% if flash[:danger] %>
            <div class="alert alert-warning" role="alert">
                    <%= flash[:danger] %>
            </div>
            <% end %>

            <div class="form-group">
                <%= f.submit "Acceder", class: 'btn btn-primary btn-lg pull-right' %>
            </div>
        
            
            <% end %>
    </div>

</div>