
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a enviosYa</h1>
      Se completó la siguiente entrega:
    <p>Remitente: <%= @shipment.sender.email %></p>
    <p>Destinatario: <%= @shipment.receiver.email %></p>
    <p>Origen: <%= @shipment.from_lat %> , <%= @shipment.from_long %></p>
    <p>Destino: <%= @shipment.to_lat %> , <%= @shipment.to_long %> </p>
    <p>Precio: $ <%= @shipment.price %></p>
    <p>Fecha/Hora Solicitud: <%= @shipment.date_created %></p>
    <p>Fecha/Hora Entrega: <%= @shipment.date_delivered %></p>

    <p>El recibo de la entrega puede obtenerse aquí: http://arq-enviosya.mybluemix.net/receipts/<%=@shipment.id%></p>

    <p>Atte el equipo de enviosYa!</p>
  </body>
</html>