
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a enviosYa</h1>
    <p>
      Le enviamos a continuación un link al cual podrá registrarse y adquirir un 50% de descuento en su próximo envío.
    </p>
    <p>
      Registrese y obtenga el código de descuento: <%= @url %>.
    </p>
    <p>Atte el equipo de enviosYa!</p>
  </body>
</html>