<%= render  "shared/topmenu", cached: true  %>

<hr>

<div class='content-section-b'>
    <h1 align="center">Registro de usuario</h1>
    <hr>
    
    <div class='col-md-6 mx-auto'>
        <% if flash[:success] %>
        <div class="alert alert-success" role="alert">
                <%= flash[:success] %>
        </div>
        <% end %>

        <% if @user.errors.any? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5>
                Se encontraron errores al generar el usuario
            </h5>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <%= form_for(@user, :html => {role: "form", multipart: true}) do |f| %>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">
                        Nombre
                        </label>
                        <%= f.text_field :name, class: "form-control", placeholder: "Ingrese su nombre", autofocus: true %>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">
                                Apellido
                            </label>
                            <%= f.text_field :lastname, class: "form-control", placeholder: "Ingrese su apellido", autofocus: true %>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">
                            Documento de identidad
                        </label>
                        <%= f.text_field :document, class: "form-control", placeholder: "Ingrese su documento: (1234567-0)", autofocus: true %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">
                            Email
                        </label>
                        <%= f.email_field :email, class: "form-control", placeholder: "Ingresar email" %>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">
                            Contraseña
                        </label>
                        <%= f.password_field :password, class: "form-control", placeholder: "Ingresar contraseña" %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">
                            Foto de perfil
                        </label>
                        <%= f.file_field :profile_picture, class: "form-control", accept: 'image/jpeg,image/gif,image/png' %>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <%= f.submit "Registrarme", class: 'btn btn-primary btn-lg pull-right' %>
            </div>
        
            
            <% end %>
    </div>

</div>