<%= render  "shared/topmenu", cached: true  %>
<br>
<br>
<br>
<div class='container'>

    <h1 class="center">Mi perfil</h1>
    <hr>
    <div class="row">
        <div class="col-md-3 text-center">
            <%= render  "shared/user_sidebar" %>
        </div>
        <div class="col-md-9">
            <dl class="row">
              <% cache @user do %>
                <dt class="col-sm-4">Nombre:</dt>
                <dd class="col-sm-8"><%= @user.name %></dd>
                
                <dt class="col-sm-4">Apellido:</dt>
                <dd class="col-sm-8">
                    <%= @user.lastname %>
                </dd>
                
                <dt class="col-sm-4">Documento de identidad:</dt>
                <dd class="col-sm-8"><%= @user.document %>.</dd>
                
                <dt class="col-sm-4 text-truncate">Email:</dt>
                <dd class="col-sm-8"><%= @user.email %>.</dd>

               <% if @user.role == 2 %>
                <dt class="col-sm-4 text-truncate">Libreta de conducir:</dt>
                <dd class="col-sm-8"><a href="<%= @user.delivery.driver_license %>" download> Libreta de conducir </a></dd>

                <dt class="col-sm-4 text-truncate">Documentación:</dt>
                <dd class="col-sm-8"><a href="<%= @user.delivery.documentation %>" download >Documentación</a></dd>
                <% end %>
              <% end %>
            </dl>
        </div>
    </div>
</div>