<%= image_tag(current_user.profile_picture, class: "img-thumbnail mx-auto d-block rounded-circle", style:"max-height:200px") if current_user.profile_picture? %>

<div class="list-group">
  <%= link_to 'Mi perfíl', profile_path, method: :get, class: "list-group-item" %>

  <!--Final User-->
  <% if current_user.role == 3 %>
      <a href="/shipments/new" class="list-group-item list-group-item-action">Solicitar Envío</a>
  <% end %>

  <!--Delivery-->
  <% if current_user.role == 2 %>

      <%= link_to 'Mis Envíos', shipments_path(Shipment.all), method: :get, class: "list-group-item list-group-item-action" %>

<% end %>

  <%= link_to 'Salir', logout_path, method: :delete, class: "list-group-item list-group-item-action" %>
</div>