<%= render  "shared/topmenu", cached: true %>

<!-- Header -->
<header class="intro-header">
    <div class="container">
        <% if flash[:success] %>
        <div class="alert alert-success" role="alert">
                <%= flash[:success] %>
        </div>
        <% end %>
        <% if flash[:danger] %>
        <div class="alert alert-danger" role="alert">
                <%= flash[:danger] %>
        </div>
        <% end %>
        <div class="intro-message">
            <h1>EnviosYa</h1>
            <h3>Una aplicación pensada para vos</h3>
            <hr class="intro-divider">
        </div>
    </div>
</header>

</aside>
