<%= render  "shared/topmenu", cached: true %>

<div class="container">
  <div class="row">
    <div class="error-template">
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!<br>
      </div>
      <div class="error-actions">
        <a href="/index" class="btn btn-primary">
          <i class="icon-home icon-white"></i> Take Me Home </a>
      </div>
    </div>
  </div>
</div>
