<!doctype html>

<% id = params[:id] %>
<% shipment = Shipment.find_by_id(id) %>

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2">
    <div class="panel panel-default main">

      <div class="panel-body">

        <div class="row">

          <div class="col-lg-3 col-md-3 col-sm-3">
            <h1>Recibo de Entrega</h1>
          </div>
        </div>
        <!--row-->

        <div class="row">
          <p> Fecha/Hora Solicitud:
            <%= @shipment.date_created %> </p>
          <p> Cadete Resposable:
            <%= @shipment.delivery.name %>
            <%= @shipment.delivery.lastname %> </p>
          <p> Fecha/Hora Entrega:
            <%= @shipment.date_delivered %> </p>
          <p> Precio: $
            <%= @shipment.price %> </p>

          <!--y la foto de la firma del destinatario.-->

          <div class="col-lg-9 col-md-9 col-sm-9">
            <h2>Origen</h2>
            <p>
              <%= @shipment.sender.name %>
              <%= @shipment.sender.lastname %></p>
            <p class="offset-margin">
              <%= @shipment.from_lat %>,
              <%= @shipment.from_long %></p>
          </div>

          <div class="col-lg-9 col-md-9 col-sm-9">
            <h2>Destino</h2>
            <p>
              <%= @shipment.receiver.name %>
              <%= @shipment.receiver.lastname %></p>
            <p class="offset-margin">
              <%= @shipment.to_lat %>,
              <%= @shipment.to_long %> </p>
          </div>

          <p> Firma:  <%= image_tag(@shipment.signature) %>  </p>

        </div>
      </div>
    </div>
  </div>
</div>
