
<%= render "shared/topmenu", cached: true  %>
<br>
<br>
<br>
<div class='container'>

  <h1 class="center">Detalle de Envío</h1>
  <hr>
  <div class="row">
    <div class="col-md-3 text-center">
      <%= render "shared/user_sidebar", cached: true  %>
    </div>

    <% myShipments = @shipments.select {|s| s.user_id == current_user.id} %>
    <% if myShipments.blank? %>
        <p>No existen envíos.</p>
    <% else %>

    <div class='col-md-9 mx-auto'>
      <h4>Envíos en Curso</h4>
      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Emisor</th>
          <th>Receptor</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Precio</th>
        </tr>
        </thead>
        <tbody>

        <% inProgress = @shipments.select {|s| s.status == 'En curso' && s.user_id == current_user.id} %>

        <% inProgress.each do |s| %>

            <tr>
              <td><a href="/shipments/<%= s.id %>"> <%= s.id %> </a></td>
              <td><%= s.sender.email %></td>
              <td><%= s.receiver.email %></td>
              <td><%= s.from_lat %>,<%= s.from_long %></td>
              <td><%= s.to_lat %>,<%= s.to_long %></td>
              <td><%= s.price %></td>
            </tr>

        <% end %>

        </tbody>
      </table>

      <br>

      <h4>Envíos Entregados</h4>
      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Emisor</th>
          <th>Receptor</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Precio</th>
        </tr>
        </thead>
        <tbody>

        <% completed = @shipments.select {|s| s.status == 'Entregado' && s.user_id == current_user.id} %>

        <% completed.each do |s| %>
            <% cache s do %>
            <tr>
              <td><a href="/shipments/<%= s.id %>"><%= s.id %></td>
              <td><%= s.sender.email %></td>
              <td><%= s.receiver.email %></td>
              <td><%= s.from_lat %>,<%= s.from_long %></td>
              <td><%= s.to_lat %>,<%= s.to_long %></td>
              <td><%= s.price %></td>
            </tr>
            <% end %>
        <% end %>

        </tbody>
      </table>

    </div>

    <% end %>

  </div>
</div>
</div>