<%= render "shared/topmenu", cached: true  %>
<br>
<br>
<br>
<div class='container'>

  <h1 class="center">Solicitar Envío</h1>
  <hr>
  <div class="row">

    <div class="col-md-3 text-center">
      <%= render "shared/user_sidebar", cached: true  %>
    </div>

    <div class='col-md-6 mx-auto'>
      <% if flash[:success] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:success] %>
          </div>
      <% end %>
      <% if flash[:alert] %>
          <div class="alert alert-warning" role="alert">
            <%= flash[:alert] %>
          </div>
      <% end %>


      <%= form_for(@shipment, :html => {role: "form", multipart: true}) do |s| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">
                  Receptor
                </label>
                <%= s.email_field :receiver, class: "form-control", placeholder: "Ingrese el email del receptor", autofocus: true %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">
                  Origen
                </label>
                <%= s.gmap_coordinate_picker :lat_column => 'from_lat', :lng_column => 'from_long', :zoom_level => 10, :default_coordinates => [-34.901112, -56.164532], autocomplete: {enable: true, class: 'form-control'} %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">
                  Destino
                </label>
                <%= s.gmap_coordinate_picker :lat_column => 'to_lat', :lng_column => 'to_long', :zoom_level => 10, :default_coordinates => [-34.901112, -56.164532], autocomplete: {enable: true, class: 'form-control'} %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <%= s.submit "Solicitar", class: 'btn btn-primary btn-lg pull-right' %>
            </div>
          </div>

      <% end %>

    </div>
  </div>
</div>
