
<%= render "shared/topmenu", cached: true  %>
<br>
<br>
<br>
<div class='container'>

  <h1 class="center">Detalle de Envío</h1>
  <hr>
  <div class="row">
    <div class="col-md-3 text-center">
      <%= render "shared/user_sidebar", cached: true  %>
    </div>
    <div class="col-md-9">

      <% if flash[:success] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:success] %>
          </div>
      <% end %>

<!--Falta el bloque que muestra los errores-->

      <dl class="row">
        <dt class="col-sm-4">Id:</dt>
        <dd class="col-sm-8"><%= @shipment.id %></dd>

        <dt class="col-sm-4">Cadete:</dt>
        <dd class="col-sm-8"><%= User.find(@shipment.user_id).email %>  </dd>

        <dt class="col-sm-4">Emisor:</dt>
        <dd class="col-sm-8"><%= @shipment.sender.email %> </dd>

        <dt class="col-sm-4 text-truncate">Receptor:</dt>
        <dd class="col-sm-8"><%= @shipment.receiver.email %> </dd>

        <dt class="col-sm-4 text-truncate">Desde:</dt>
        <dd class="col-sm-8"><%= @shipment.from_lat %>, <%= @shipment.from_long %></dd>

        <dt class="col-sm-4 text-truncate">Hasta:</dt>
        <dd class="col-sm-8"><%= @shipment.to_lat %>, <%= @shipment.to_long %></dd>

        <dt class="col-sm-4 text-truncate">Precio:</dt>
        <dd class="col-sm-8"><%= @shipment.price %></dd>

        <dt class="col-sm-4 text-truncate">Estado:</dt>
        <dd class="col-sm-8"><%= @shipment.status %></dd>

        <% if @shipment.status == "En curso" && current_user.role == 2 %>
            <%= form_for(@shipment, url: shipment_path, method: :put, :html => {role: "form", multipart: true}) do |f| %>

                <div class="form-group">
                  <label for="">
                    Firma de Recepción
                  </label>
                  <%= f.file_field :signature, class: "form-control", accept: 'image/jpeg,image/gif,image/png' %>
                </div>

                <div class="form-group">
                  <%= f.submit "Finalizar Envío", class: 'btn btn-primary btn-sm' %>
                </div>

            <% end %>
        <% end %>
      </dl>

      </dl>
    </div>
  </div>
</div>