<!DOCTYPE html>
<html>
  <head>
    <title>EnviosYa</title>
    <%= csrf_meta_tags %>

    
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/landing-page.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  </head>

  <body>
      <%= yield %>

      <!-- Footer -->
      <footer>
        <div class="container">
            <p class="copyright text-muted small">Copyright &copy; EnviosYa 2017. All Rights Reserved</p>
        </div>
      </footer>
  </body>

</html>
